*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.container{
    width: 90%;
    margin: auto;
    border: 1px olid black;
    border: 1PX solid black;
}
.card{
    display: flex;
    width: 100%;
    height: 100%;
    border: 1PX solid black;
}
p{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    border: 1PX solid black;
}
select{
    width: 12%;
}




/* dfhlskhfskdlf*/
.pepito{
    display: flex;
    width: 90%;
    margin: auto;
    border: 1px solid black;
}
h3{
    justify-content: center;
    display: flex;
    border: 1px solid white;
    text-align: center;
    width: 12%;
    border: 1PX solid black;
    background-color: blanchedalmond;
}

